@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    background-color: #181A1B;
    color: #E8E6E3;
}

a:link { color: lightskyblue; }
a:visited { color: #c499ec; }
a:hover { color: #ffffff; }
a:active { color: #ff4040; text-decoration:none; font-weight:normal; }

.main-container {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-align: center;
}

#banner-image {
    max-width: 90vw;
    max-height: 40vh;
    border-radius: 1rem;
}

#discord-button {
    border-radius: 1rem;
    max-width: 90vw;
}